body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 2rem;
    background: white;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 2rem;
    text-align: center;
}

input[type="file"],
input[type="text"] {
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#uploadedFiles,
#searchResults, #detectedFaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#uploadedFiles img,
#searchResults img,
#detectedFaces img {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    /* object-fit: cover; */
}

#detectedFaces img{
    cursor: pointer;
}